<html lang="en">
   <head>
      <title itemprop="name">Your Profile</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
      <meta name="viewport" content="width=device-width">

      {% load static %}
      <script src="{% static 'profiles/schoolhome.js' %}" type="text/javascript"></script>
   </head>

   <body>
      <div id="snippetContent">
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

         <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 

         <div class="container bootstrap snippet">

            <div class="row">
               <div class="col-sm-11">
                  <h3><b>Welcome!</b></h3>
               </div>
               <div class="col-sm-1"> 
                  <form method="POST" action="{% url 'logout' %}">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-primary pull-right" value="Logout" />
                  </form>
               </div>
            </div>

            <hr>

            <div class="row">
               <div class="col-sm-4">
                  <ul class="list-group">

                     <li class="list-group-item text-muted">Profile</li>

                     <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span> {{school_admin.username}}</li>
            
                     <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> {{school_admin.first_name}} {{school_admin.last_name}}</li>
                     <li class="list-group-item text-right"><span class="pull-left"><strong>School Name</strong></span> {{school_admin.school_name}}</li>

                     <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{school_admin.date_joined}}</li>

                  </ul>
               </div>
               <div class="col-sm-8"> <a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a></div>
            </div>

            {% load custom_tags %}
            <div class="row">
               <div class="col-sm-12">
                  <ul class="nav nav-tabs" id="myTab">
                     <li class="active"><a href="#home" data-toggle="tab">Teachers</a></li>
                     {% for class in class_list %}
                     <li><a href="#class{{class}}" data-toggle="tab"> Class {{ class }}</a></li>
                     {% endfor %}
                  </ul>

                  <div class="tab-content">
                     <div class="tab-pane active" id="home">

                        <div class="table-responsive">
                           <table class="table table-hover">
                              <thead>
                                 <tr>
                                    <!-- <th>#</th> -->
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                 </tr>
                              </thead>
                              <tbody id="items">
                                 {% for teacher in teachers_list %}
                                 <tr>
                                    <!-- <td>1</td> -->
                                    <td>{{teacher.first_name}}</td>
                                    <td>{{teacher.last_name}}</td>
                                    <td>{{teacher.email}}</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <hr>

                        <form method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                          <div class="form-group" style="height:auto;">
                            <label for="file">Upload File</label>
                            <input type="file" class="form-control" name="class">
                            <p class="help-block">[CSV Format: FirstName, MiddleName(Optional), LastName, email] Upload teachers list here</p>
                          </div>
                        <button type="submit" name="uploadp_btn" class="btn btn-primary">Upload!</button>
                        </form> <hr>
                     </div>
                     {% for class in class_list %}
                     <div class="tab-pane" id="class{{class}}">
                        <div class="table-responsive">
                           <table class="table table-hover">
                              <thead>
                                 <tr>
                                    <!-- <th>#</th> -->
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                 </tr>
                              </thead>
                              <tbody id="items">
                                 {% for student in students_list|in_category:class %}
                                 <tr>
                                    <!-- <td>1</td> -->
                                    <td>{{student.first_name}}</td>
                                    <td>{{student.last_name}}</td>
                                    <td>{{student.email}}</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <hr>

                        <form method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                          <div class="form-group" style="height:auto;">
                            <label for="file">Upload File</label>
                            <input type="file" class="form-control" name="class{{class}}">
                            <p class="help-block">[CSV Format: FirstName, MiddleName(Optional), LastName, email] Upload class {{class}} list here</p>
                          </div>
                        <button type="submit" name="uploadp_btn" class="btn btn-primary">Upload!</button>
                        </form> <hr>
                     </div>
                     {% endfor %}


                  </div>
               </div>
            </div>


         </div>
         <style type="text/css">body{margin-top:20px;}</style>
         <script type="text/javascript"></script> 
      </div>
   </body>
</html>